body {
  margin: 0;
  padding: 0;
  background-color: #acb7ae;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation menu styles */
.nav-menu-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.active-link {
  font-weight: bold;
  color: #3498db;
}

.nav-menu {
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  z-index: 100;
  min-width: 500px;
  height: 3rem;
}

.nav-menu a {
  text-decoration: none;
  color: #5c504e;
  font-weight: bold;
  font-size: 1.2rem;
  transition: font-size 0.2s ease, color 0.2s ease;
  margin: 0 1rem;
}

.nav-menu a:hover {
  color: #3f150a;
  font-size: 1.8rem;
}

footer {
  display: flex;
  justify-content: center;
  margin: auto auto 3rem;
}

footer a {
  font-size: 36px;
  margin: 0 20px;
  color: #333;
}

.home-container,
.about-container,
.skills-container,
.pastwork-container,
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app p {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.8rem;
}

/****************** Home page styles ********************/

.home-content {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.home-container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.home-container p {
  font-size: 1.5rem;
  color: #666;
  margin-top: 1rem;
}

.my-image {
  width: auto;
}

/***************** About page styles *****************/

.about-container {
  gap: 5rem;
}

.about-container p {
  max-width: 60vw;
}

/* About section image styles */
.quit-part img,
.new-horizons-part img,
.thankful-part img,
.pixels-purrs-wonders-part img {
  width: 60vw;
  border-radius: 2rem;
}

.skills-container p {
  max-width: 70%;
}

.skills-boxes {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
}

.skills-boxes > * {
  flex: 1;
  margin: 0 3rem;
}

.skills-boxes h1 {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-boxes img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.behavioral-box,
.technical-box,
.tool-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.4rem;
  background-color: rgb(187, 171, 140);
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #666;
  box-shadow: 0.1rem 0.1rem gray;
  text-align: left;
}

.pastwork-intro {
  max-width: 70%;
  margin: 5rem auto 2rem;
  font-size: 1.8rem;
  color: #666;
}

.pastwork-outro {
  max-width: 70%;
  margin: 2rem auto 8rem;
  font-size: 1.8rem;
  color: #666;
}

hr {
  width: 50%;
  border: 0.1rem solid rgb(83, 79, 79);
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-box img {
  width: 70%;
  border: 0.3rem solid rgb(222, 101, 101);
  border-radius: 1.5rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.project-box h1 {
  font-size: 1.6rem;
  color: rgb(30, 28, 40);
}

.project-box h2 {
  font-size: 1.2rem;
  color: rgb(86, 77, 116);
}

.project-box p {
  max-width: 70%;
}

.project-box a {
  background-color: rgb(187, 171, 140);
  text-decoration: none;
  color: #3f150a;
  padding: 0.5rem;
  border-radius: 1rem;
}

.contact-container {
  width: 80vw;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.phone-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.contact-title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.phone-email-container {
  margin-top: 3rem;
}

.phone-box,
.email-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.phone-box img,
.email-box img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.phone-box a,
.email-box a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
}

/* Media query for larger screens */
@media (min-width: 1120px) {
  .nav-menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .home-content {
    width: 60%;
  }

  .home-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .home-content {
    align-items: flex-start;
    max-width: 50vw;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 3rem 2rem 5rem 2rem;
  }

  .quit-part {
    grid-column: 1/2;
    grid-row: 1/4;
    transform: rotate(-5deg);
  }

  .new-horizons-part {
    grid-column: 2/3;
    grid-row: 3/6;
    transform: rotate(5deg);
  }

  .thankful-part {
    grid-column: 1/2;
    grid-row: 5/8;
    transform: rotate(-5deg);
  }

  .pixels-purrs-wonders-part {
    grid-column: 2/3;
    grid-row: 7/10;
    transform: rotate(5deg);
  }
  .about-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Adjusted image sizes for About section */
  .quit-part img,
  .new-horizons-part img,
  .thankful-part img,
  .pixels-purrs-wonders-part img {
    width: 40vw;
    border-radius: 3rem;
  }

  .skills-boxes {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
  }

  /* Grid layout for Projects section */
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
    row-gap: 7rem;
    max-width: none;
  }

  .pastwork-intro,
  .pastwork-outro {
    width: 40%;
  }

  /* Style individual project items */

  .project-box img {
    width: 30rem;
    height: 20rem;
    border-radius: 1.5rem;
  }

  .contact-container {
    width: 60vw;
  }
}
